<header>
  <section id="container-header" class="fixed-top">
    <!--<div id="header-empty">
    </div>-->
    <div id="header-logo">
      <a href="/" title="Página Inicial">
        <img src="/images/20230201_logoDivinoAlimento.svg" alt="logotipo do Divino Alimento" />
      </a>
      <a href="javascript:history.back()">Voltar</a>
    </div>
    <div id="avatar-profile" class="dropdown show">
      <% if (usuarioAtivo.email_verified == "false") { %>
        <a class="btn btn-secondary" href="/login" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entrar
        </a>
      <% } else { %>
          <span id="usuario_identificacao">
            <img
              src="<%= usuarioAtivo.picture %>"
            />
          </span>
      <% } %>
    </div>
  </section>
</header>