<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="icon" href="/imagesLimiteSolar/20230412_limitesolar_favicon.svg" />
    <title>LimiteSolar</title>

    <link rel="stylesheet" href="/styles/partials/header.css" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- links bootstrap -->

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" href="/styles/pages/limitesolar.css" />

    <script>
        // JS only for the switch
        $(function(){
          $("#switch-view").click(function(){
            $(this).find("button").toggleClass("active");
            $(".article-wrapper").toggleClass("bloc col-xs-12 col-xs-4");
          });
        });
    </script>

    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2000
        })
      });
    </script>

  </head>
  
  <body>

      <main>

          <div id="container">


            <div id="container-header" class="fixed-top">

              <div id="header-logo">
                <img src="/imagesLimiteSolar/20230405_limitesolar_logo.svg" alt="Limite Solar" />
              </div>

              <div id="header-menu">
                <span>
                  <a href="#sobre">Sobre</a>
                </span>
                <span>
                  <a href="#servicos">Serviços</a>
                </span>
                <span>
                  <a href="#parceiros">Parceiros</a>
                </span>
                <span>
                  <a href="#destaques">Destaques</a>
                </span>
                <span>
                  <a href="#contato">Contato</a>
                </span>
              </div>

              <div id="header-redessociais">
                <a href="https://www.instagram.com/limite.solar/" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_instagram.svg" alt="@limite.solar" />
                </a>
                <a href="https://www.facebook.com/profile.php?id=100077274497762" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_facebook.svg" alt="@limite.solar" />
                </a>
                <a href="mailto: limitesolarenergia@gmail.com" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_email.svg" alt="limitesolarenergia@gmail.com" />
                </a>
                <a href="https://api.whatsapp.com/send?phone=5519996203527&text=Acessei%20seu%20site%20e%20gostaria%20de%20entrar%20em%20contato%20via%20whatsapp." target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_whatsapp.svg" alt="19-" />
                </a>
              </div>


            </div>

            <div id="container-banner">
              <a name="destaques"></a>
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/imagesLimiteSolar/20230419_limitesolar_site_banner.png" alt="Primeiro Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/imagesLimiteSolar/20230419_limitesolar_site_banner.png" alt="Segundo Slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/imagesLimiteSolar/20230419_limitesolar_site_banner.png" alt="Terceiro Slide">
                  </div>
                </div>
              </div>
            </div>

            <div id="container-calculadora">
              <iframe src="https://azume.com.br/simulador/611bbbcf9e36c00011063326"></iframe>
            </div>
            <a name="sobre"></a>
            <div id="container-sobre">
              <h1 class="secoes-titulo">
                Sobre<br>
                <span class="separador">
                  ___
                </span>
              </h1>

              
              <div id="container-apresentacao">
                <div>
                  <img src="/imagesLimiteSolar/20230419_limitesolar_site_sobre.png" alt="@limite.solar" />
                </div>
                <div>
                  <p>
                    Empresa especializada em energia solar fotovoltaica, de Paulínia-SP, criada em 2021. Em constante evolução e sempre alinhada com as tendências e tecnologias mais inovadoras. Temos um preço justo e cuidamos de todo o processo com transparência, qualidade e  eficiência. Com certeza você ficará satisfeito. 
                  </p>
                  <br>
                  <p>
                    Contribuindo com o aumento de utilização de fonte limpa e renovável, garante o consumo de energia preservando o meio ambiente e melhorando a qualidade de vida das pessoas no Planeta.
                  </p>
                  <br>
                  <p>
                    Do conceito inicial ao produto final, nos preocupamos com todos os detalhes para proporcionar a plena satisfação dos nossos clientes. Nossa empresa se orgulha da qualidade excepcional que oferece, proporcionando conforto e bem-estar aos nossos clientes. 
                  </p>
                  <br>
                  <p>
                    Nossos projetos contam com mão de obra qualificada e equipamentos da mais alta qualidade que atenda todas as necessidades para a geração de energia solar fotovoltaica. Nossa prioridade é oferecer os melhores produtos e serviços, de melhores marcas, de forma a garantir a qualidade, durabilidade e eficiência de todo o sistema de geração de energia com segurança em toda sua vida útil.
                  </p>
                </div>
              </div>
              <br>
              <a name="servicos"></a>
              <h1 class="secoes-titulo">
                Serviços<br>
                <span class="separador">
                  ___
                </span>
              </h1>
              <div id="container-servicos">
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_dimens.svg" alt="serviço - dimensionamento" />
                  </span>
                  <p class="servico-titulo">
                    DIMENSIONAMENTO
                  </p>
                  <p>
                    Através do levantamento da média de consumo mensal de energia, dimensionamos o sistema adequado que atenda a demanda especifica de cada consumidor.
                  </p>
                </div>
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_proj.svg" alt="serviço - planejamento e projeto" />
                  </span>
                  <p class="servico-titulo">
                    PLANEJAMENTO E PROJETO
                  </p>
                  <p>
                    Levando em consideração as características do imóvel planejamos e desenvolvemos seu projeto com a parceria com a pieta.tech, uma das maiores plataformas de projeto energia solar do Brasil.
                  </p>
                </div>
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_mater.svg" alt="serviço - aquisição de materiais" />
                  </span>
                  <p class="servico-titulo">
                    AQUISIÇÃO DOS MATERIAIS
                  </p>
                  <p>
                    Através de nossos parceiros, fornecedores conceituados de equipamentos, realizamos cotações de todos os materiais que compõem o sistema de geração, oferecendo a melhor tecnologia e o custo/benefício de cada produto.
                  </p>
                </div>
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_homol.svg" alt="serviço - homologação junto a concessionária" />
                  </span>
                  <p class="servico-titulo">
                    HOMOLOGAÇÃO JUNTO A CONCESSIONÁRIA DE ENERGIA
                  </p>
                  <p>
                    Cuidamos de toda parte burocrática na  elaboração do projetos e fazemos todo o trâmite junto a concessionária de energia elétrica para conexão do sistema a sua rede de energia.
                  </p>
                </div>
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_finan.svg" alt="serviço - assessoria financiamento" />
                  </span>
                  <p class="servico-titulo">
                    ASSESSORIA DO PROCESSO DE FINANCIAMENTO
                  </p>
                  <p>
                    Intermediamos o processo de financiamento, com as menores taxas possíveis, com valores e prazos que melhor atendam suas necessidades.
                  </p>
                </div>
                <div class="box-servico">
                  <span>
                    <img src="/imagesLimiteSolar/20230503_limitesolar_serv_inst.svg" alt="serviço - instalação" />
                  </span>
                  <p class="servico-titulo">
                    INSTALAÇÃO
                  </p>
                  <p>
                    Executamos com eficiência e qualidade a instalação de todos os componentes do sistema solar fotovoltaico, entregando-o em perfeita perfomance. Prezamos por manter o ambiente sempre limpo e organizado.
                  </p>
                </div>
                  
              </div>

            </div>
            <a name="parceiros"></a>
            <div class="container-branco">
              <h1 class="secoes-titulo">
                Parceiros
              </h1>
              <div id="container-parceiros">
                <div class="box-parceiro">
                  <a href="https://www.ecorienergiasolar.com.br/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_01.svg" alt="parceiros - ecori" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://www.pieta.tech/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_02.svg" alt="parceiros - pieta" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://azume.com.br/sobre" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_03.svg" alt="parceiros - azume" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://apsystems.com/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_04.svg" alt="parceiros - apsystems" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://www.solaredge.com/br" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_05.svg" alt="parceiros - solaredge" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://2pacessorios.com.br/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_06.svg" alt="parceiros - 2pacessorios" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://www.canadiansolar.com/br/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_07.svg" alt="parceiros - canadiansolar" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://www.jasolar.com/html/en/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_08.svg" alt="parceiros - jasolar" />
                  </a>
                </div>
                <div class="box-parceiro">
                  <a href="https://www.longi.com/en/" target="_blank">
                    <img src="/imagesLimiteSolar/20230503_limitesolar_site_parceiros_09.svg" alt="parceiros - longi" />
                  </a>
                </div>
              </div>

            </div>

            <a name="contato"></a>
            <div id="container-rodape">
              <div id="rodape-menu-contato">
                <div id="rodape-menu">
                  <span>
                    <a href="#sobre">Sobre</a>
                  </span>
                  <span>
                    <a href="#servicos">Serviços</a>
                  </span>
                  <span>
                    <a href="#parceiros">Parceiros</a>
                  </span>
                  <span>
                    <a href="#destaques">Destaques</a>
                  </span>
                  <span>
                    <a href="#contato">Contato</a>
                  </span>
                </div>
                <div id="rodape-contato">
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdTHb_tToUPj361Vcv2_fKR0etscrTdmbmVy-NyuQViyoTmEQ/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
                </div>

              </div>
              
              <div id="rodape-redessociais">
                <a href="https://www.instagram.com/limite.solar/" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_instagram.svg" alt="@limite.solar" />
                </a>
                <a href="https://www.facebook.com/profile.php?id=100077274497762" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_facebook.svg" alt="@limite.solar" />
                </a>
                <a href="mailto: limitesolarenergia@gmail.com" target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_email.svg" alt="limitesolarenergia@gmail.com" />
                </a>
                <a href="https://api.whatsapp.com/send?phone=5519996203527&text=Acessei%20seu%20site%20e%20gostaria%20de%20entrar%20em%20contato%20via%20whatsapp." target="_blank">
                  <img src="/imagesLimiteSolar/20230412_limitesolar_whatsapp.svg" alt="19-" />
                </a>
              </div>

              <div id="rodape-redessociais-labels">
                <span>
                  @limite.solar
                </span>
                <span>
                  limitesolarenergia@gmail.com
                </span>
                <span>
                  (19) 99620-3527
                </span>
              </div>
              
              <div id="rodape-direitosautorais">
                <span>
                    &#169; 2023 limitesolar
                </span>
              </div>
            

            </div>

              
          </div>
           
  </main>

  </body>
</html>
 