# Options: 'production', 'development'
NODE_ENV="development"
BASE_URL_APP="localhost"
BASE_URL_AUTH="localhost"

# Ports:
PORT=13000
AUTH_PORT=18080
API_PORT=17001

# SSL (empty or true)
NOT_USE_SSL=true

# Database:
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="senha"
POSTGRES_DB="divinoalimento"

# 0AUTH ID
clientID=''
issuerBaseURL=''