@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);

#container_header {
  background: #f7a419;
  border-bottom: 50px solid #6a640b;
  border-top: 50px solid #6a640b;
}

#menu_topo {
  width: 100%;
  margin-top: -45px;
  text-align: right;
}

#usuario_identificacao {
  color: #fff;
  font-size: 1.25rem; /* 20px of 16px root*/
  line-height: 1.875rem; /*30px of 16px root*/
  margin-right: 1.25rem;
  font-weight: 600;
}

#usuario_identificacao img {
  width: 4rem; /* 64px of 16px root*/
  height: 4rem; /* 64px of 16px root*/
  border-radius: 50%;
}

#topo_logomarca img {
  width: 100%;
  margin-top: 30px;
}

#topo_logomarca a {
  color: #fff;
  text-decoration: none;
}

#topo_logomarca a:hover {
  color: #fff;
  text-decoration: none;
}

#topo_logomarca a:visited {
  color: #fff;
  text-decoration: none;
}


#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #logo {
    width: 8rem;
    height: 8rem;
  }
  
  /* 
   * notification
  /* -------------------------------------------------- */
  #notification {
    display: flex;
    align-items: center;
  
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
  }

  #notification a{
    color: #FFFFFF;
  }
  
  #notification img {
    margin-right: 0.5rem; /* 8px of 16px root*/
  }
  
  /* 
   * avatar
  /* -------------------------------------------------- */
  #avatar-profile {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
  
    font-family: IBM Plex Sans;
    text-align: right;
  }
  
  #avatar-profile p {
    font-size: 1.25rem; /* 20px of 16px root*/
    line-height: 1.875rem; /*30px of 16px root*/
    margin-right: 1.25rem;
  
    font-weight: 600;
  }
  
  #avatar-profile span {
    display: block;
  
    font-weight: normal;
    font-size: 0.875rem; /* 14px of 16px root*/
    line-height: 1.5rem; /* 24px of 16px root*/
  
    font-weight: 400;
  }
  
  #avatar-profile p span:hover {
    text-decoration: underline;
    color:var(--color-secondary-hover);
  }
  
  #avatar-profile img {
    width: 3rem; /* 64px of 16px root*/
    height: 3rem; /* 64px of 16px root*/
    border-radius: 50%;
    border: 0.156rem solid #F1972C; /* 2.5px of 16px root*/
  }
  
  /* 
   * acessar cadastros
  /* -------------------------------------------------- */
  #acessar-cadastros {
    display: flex;
    align-items: right;
    color: var(--color-white);
    text-decoration: none;
  
    font-family: IBM Plex Sans;
    text-align: right;
  }
  
  #acessar-cadastros span {
    display: block;
    width: 100%;
  
    font-weight: normal;
    font-size: 0.875rem; /* 14px of 16px root*/
    line-height: 1.5rem; /* 24px of 16px root*/
  
    font-weight: 400;
  }
  
  #acessar-cadastros span:hover {
    text-decoration: underline;
    color:var(--color-secondary-hover);
  }
  
  /* 
   * summary
  /* -------------------------------------------------- */
  #summary {
    margin-top: 2rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* 
   * summary info
  /* -------------------------------------------------- */
  #summary .info {
    display:flex;
    font-family: Inter;
  
    margin-bottom: 2rem;
  }
  
  .info > div {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    
    margin-right: 2.5rem; /* 40px of 16px root*/
  }
  
  .info > div > strong {
    display: block;
    
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625rem; /* 26px of 16px root*/
    
  }
  
  /* 
   * summary button
  /* -------------------------------------------------- */
  #summary .button {
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    margin-bottom: 2.5rem;
  }
  
  #summary .button span::before {
    width: 2rem;
    height: 2rem;
    content: " "; 
    background-color: var(--color-background);
    opacity: 0.16;
    border-radius: 0.313rem; /* 5px of 16px root*/
  
    position: absolute;
  }
  
  #summary .button span {
    width: 2rem;
    height: 2rem;
  
    margin-right: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #summary .button span img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: none;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
  