.card-cadastros {
    grid-template-columns: 5% 30% 30% 35% !important;
}

@media(max-width:1390px) {
    .card-cadastros {
      grid-template-columns: 5% 30% 30% 35% !important;
    }
  }
  
  @media(max-width:970px) {
    .card-cadastros {
      grid-template-columns: 5% 30% 30% 35% !important;
    }
  }
  
  @media(max-width:770px) {
    ..card-cadastros {
      grid-template-columns: 5% 30% 30% 35% !important;
    }
  }