aside.card {
    width: 22rem;
  
    margin-left: 8rem;
  
    text-align: center;
  
    padding: 2.5rem 3.375rem;
  }
  
  aside > img {
    margin-bottom: 1.5rem;
    width: 60%;
  }
  
  aside p {
    margin-bottom: 1.75rem;
  
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }
  
  aside .button img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  aside .button + .button {
    padding: 0;
    width: 3rem;
    height: 3rem;
  }

  #selecaoCesta .btn-primary {
    /* color: #fff; */
    background-color:#eb9b48;
    border-color: #f7d6b3;
  }

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	/*background-color: #e19a07;*/
}

.itens_pedidos {
  background-color: #8ccc13;
	border-radius: 10%;
  margin: 5px 10px;
  padding: 0.2em 3em;
}

.pesquisa {
  position: -webkit-sticky;
  position: sticky;
  width: 120%;
  background-color: #6a640b;
  color: #f0eaea;
  top: 0px;
  padding: 5px 20px 20px 10%;
  margin: 0 0 0 -10%;
}

.pesq_titulo {
  font-size: 18px;
  margin-top: 20px;
}

.pesq_input {
  width: 100%;
}

.container_salvar {
  display: block;
  float: left;
  width: 100%;
  margin: 0 5% 20px 0;
}

.container_confirmar {
  display: block;
  float: left;
  width: 100%;
  margin: 0 5% 20px 0;
}

#searchProduto {
  width: 90%;
}


/*.cardsPedidoConsumidor {
  display: block;
  float: left;
  width:100%;
}*/

.product {
	/*display: block;
  float: left;
  width: 50%;*/
	margin: auto;
	padding: 0;
	min-width: 200px;
	max-width: 500px;
	background-color: #8ccc13;
	border-radius: 10%;
  margin: 10px 10px;
}

.productInfo {
  padding: 0.8em 3em;
}

.title h1 {
		margin-bottom: 0.1em;
		color: #000;/* #4c4c4c color-primary */
		font-size: 1.5em;
		/*font-weight: 900;*/
}

span.title {
		font-size: 0.7em;
		color: #a6a6a6; /* color-secondary */
}

span.quantItemDisp {
  font-size: 1.5em;
  /* color: #a6a6a6; color-secondary */
}

.quantity {
  font-size: 1.2em;
}

.price {
	margin: 0.3em 0;
	color: #ff3f40; /* color-highlight */
	font-size: 1em;
}

.price span {
		padding-left: 0.15em;
		font-size: 1.5em;
}

.mensagem_pedido {
	margin: 0.5em 0;
	color:#FFFE71; /* color-highlight */
	font-size: 1.2em;
}

.mensagem_pedido span {
  padding-left: 0.15em;
  font-size: 1.2em;
}


.form-select {
  width: 50%;
}

.description {
	clear: left;
	margin: 2em 0;
}

.description a {
		margin-bottom: 1em;
    color: #000000;
    cursor: pointer;
}

.description a:link {
  color: #000000;
}

.description a:visited{
  color: #000000;
}

.description a:focus {
  color: #000000;
}

.description a:hover {
  color: #000000;
}

.description a:active {
  color: #000000;
}





.description ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
}

.description li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #ff3f40;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;
}

.buy--btn:disabled {
  background-color: #b9b7b7;
  cursor: not-allowed;
}

.buy--btn:active {
		transform: scale(0.97);
}

@media(max-width: 2440px) {
  html {
    font-size: 100% !important; /* 15px */
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75% !important; /* 15px */
  }
}

@media(max-width: 970px) {
  html {
    font-size: 87.5% !important; /* 14px */
  }
}

@media(max-width:700px) {
  :root {
    font-size: 75% !important; /* 12px */
  }
}

@media(max-width: 590px) {
  :root {
    font-size: 62.25% !important; /* 10px */
  }

  .container {
    width: min(1440px, 100vw) !important;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .secao_selecao {
    padding-left: 5%;
  }

  .itens_pedidos {
    padding-left: 5%;
    margin: 10px 0px;
  }

  .pesquisa {
    padding: 5px 20% 20px 20%;
  }

  .product {
    margin: 10px 0px;
  }

}

