.btn_rodape {
    margin: 20px 10px;
}

.linha_par td, .linha_par th{
    background-color: #cfe1f4 !important;
}

@media print {
    header {
        display:none;
    }

    .btn_rodape {
        display:none;
    }

    td, th {
        padding: 2px !important;
    }

    .info_ciclo p {
        display:none !important;
    }
     

}