@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/montserrat');

.btn {
  padding: 0rem 0.75rem !important;
}


.text-normal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* red/100 */
  color: #651E18;
}

.text-small {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;

  /* red/100 */
  color: #651E18;

}

.titulo-fonte-akarui {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5rem !important;
}


body {
  /*background: #121214;*/
  background: #FFFFFF;


}

#page-oferta {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px;

  position: relative;
  /*width: 1396px;
  height: 1237px;*/

  /* white */
  background: #FFFFFF;

  min-height: 100%;

}

#container-compensa-rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: min(100vw);
  height: 200px;

  background: #FFFFFF;
  
}

#container-rodape {
  display: grid;
  grid-template-columns: 100%;

  width: min(100vw);

    /* white/100 */

    /*background: #963D17;*/
    background: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#rodape-fornecedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;
}

#submitSalvar {
  display: none;
}

#etapas {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;

  padding: 20px 30px 0px 30px;
}

.etapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  gap: 10px;

  color: #FFFFFF;

}


.etapa-indicador-inativo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #737373;
}

.etapa-indicador-presente {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E57021;
}

.etapa-indicador-futuro {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #A6A6A6;
}

.label-indicador-inativo {
  color: #737373;
  text-align: center;
  min-width: 130px;
}

.label-indicador-presente {
  color: #E57021;
  text-align: center;
  min-width: 130px;
}

.label-indicador-futuro {
  color: #A6A6A6;
  text-align: center;
  min-width: 130px;
}

.linha-inativa {
  width: 150%;
  border-top: solid 3px #737373;
  margin-top: 15px;
  margin-left: -25%;
}

.linha-presente {
  width: 150%;
  border-top: solid 3px #E57021;
  margin-top: 15px;
  margin-left: -25%;
}

.linha-futuro {
  width: 150%;
  border-top: solid 3px #A6A6A6;
  margin-top: 15px;
  margin-left: -25%;
}

#rodape-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;

    /* white/100 */

    

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}


#container-mensagem {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin-top: 70px; /* para compensar o tamanho do header */
  gap: 0px;

  width: min(100vw);

    /* white/100 */

    background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

#container-mensagem p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  /* red/100 */
  color: #651E18;

}



#container-pedido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 1px;

  width: min(100vw);

    /* white/90 */

  background: #FFFFFF;

  color: #651E18;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#container-pedido p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  
  /* black/90 */
  color: #651E18;
}

#lista-pedidos {
  display: flex;
  flex-direction: column;
  border: solid 5px #eb9b48;
  padding: 10px 20px;
  border-radius: 8%;

  width: min(70vw);
}



.pedido {
  display: grid;
  grid-template-columns: 60% 20% 10% 10%;
  grid-template-rows: 20px;

  margin: 10px 0px;
}

.pedido-nome-medida {
  grid-column: 1;
  grid-row: 1;
}

.pedido-preco {
  grid-column: 2;
  grid-row: 1;
}

.pedido-quantidade {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

.pedido-botaoapagar {
  grid-column: 4;
  grid-row: 1;
}

.produto-preco {
  grid-column: 3;
  grid-row: 1;
}

#container-produtos {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;

  width: min(100vw);

    /* white/100 */

    background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#lista-produtos {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  width: min(80vw);
}

.rotulo-lista-produtos {
  color: #eb9b48;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.produto {
  display: grid;
  grid-template-columns: 50% 20% 20% 10%;
  grid-template-rows: auto auto auto;

  margin: 10px 0px;
  
  /*flex-direction: column;
  justify-content: flex-start;*/

  /* red/100 */

  border: 2px dashed #eb9b48;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}



.produto-nome {
  grid-column: 1;
  grid-row: 1;
  padding: 5px 5px;
}

.produto-categoria {
  grid-column: 2;
  grid-row: 1;
  padding: 5px 5px;
}

.produto-medida {
  grid-column: 2;
  grid-row: 1;
  padding: 5px 5px;
}

.produto-labelmedida {
  grid-column: 2;
  grid-row: 2;
  padding: 5px 5px;
}

.produto-preco {
  grid-column: 3;
  grid-row: 1;
  padding: 5px 5px;
}

.produto-labelpreco {
  grid-column: 3;
  grid-row: 2;
  padding: 5px 5px;
}

.produto-quantidade {
  grid-column: 4;
  grid-row: 1 / span 3;
  padding: 5px 5px;
}

.produto-quantidade input {
  background-color: #efefef;
}

.produto-descricao {
  grid-column: 1 / span 3;
  grid-row: 3;
  padding: 5px 5px;
}

#form-produtos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;

  width: min(100vw);

    /* white/100 */

    background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#modalMensagem .modal-header {
  background: #36B336;

}


.card_topo {
  display: none;
}

.button-cel {
  display: none;
}


  #selecaoUsuario .btn-primary {
    /* color: #fff; */
    background-color:#eb9b48;
    border-color: #f7d6b3;
  }

  #listaProdutos {
    height: 200px;
    overflow-y: scroll;
  }

  #botoes {
    margin-top: 20px;
    /*position: fixed;
    z-index: 1030;*/
  }

  @media(max-width: 2440px) {
    html {
      font-size: 100% !important; /* 15px */
    }
  }

  @media(max-width: 1024px) {
    .container {
      width: min(100vw) !important;
    }

    #container-mensagem,
    #container-busca,
    #container-pedido,
    #container-botoes,
    #container-produtos
    {
      width: min(100vw);
      padding-left: 10px;
      padding-right: 10px;
    }


    #lista-pedidos,
    #lista-produtos {
      width: min(95vw);
    }

    .produto {
      grid-template-columns: 35% 35% 30%;
      grid-template-rows: auto auto auto auto auto;
    }
    
    .produto-nome {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    
    .produto-categoria {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    
    .produto-medida {
      grid-column: 1;
      grid-row: 3;
    }
    
    .produto-labelmedida {
      grid-column: 1;
      grid-row: 4;
    }
    
    .produto-preco {
      grid-column: 2;
      grid-row: 3;
    }
    
    .produto-labelpreco {
      grid-column: 2;
      grid-row: 4;
    }
    
    .produto-quantidade {
      grid-column: 3;
      grid-row: 2 / span 3;
    }
    
    .produto-descricao {
      grid-column: 1 / span 2;
      grid-row: 5;
    }
    



  }

  @media(max-width: 1080px) {
    html {
      font-size: 93.75% !important; /* 15px */
    }
  }
  
  @media(max-width: 970px) {
    html {
      font-size: 87.5% !important; /* 14px */
    }
  }
  
  @media(max-width:700px) {
    :root {
      font-size: 75% !important; /* 12px */
    }

    #container-pedido p {
      font-size: 14px;
      line-height: 18px;
    }

    #etapas {
      display: grid;
      grid-template-columns: 19% 19% 19% 19% 19%;
    
      padding: 20px 30px 0px 30px;

      width: min(100vw);
    }

    .etapa-indicador-inativo {
      width: 30px;
      height: 30px;
    }
    
    .etapa-indicador-presente {
      width: 30px;
      height: 30px;
    }
    
    .etapa-indicador-futuro {
      width: 30px;
      height: 30px;
    }
    
    .label-indicador-inativo {
      min-width: 90px;
    }
    
    .label-indicador-presente {
      min-width: 90px;
    }
    
    .label-indicador-futuro {
      min-width: 90px;
    }
    
    .linha-passado {
      width: 150%;
    }
    
    .linha-presente {
      width: 150%;
    }
    
    .linha-futuro {
      width: 150%;
    }


  }
  
  @media(max-width: 590px) {
    :root {
      font-size: 62.25% !important; /* 10px */
    }
  
    

    

    

    #listaProdutos {
      width: 100%;
    }

    
    
  
    
  
  }