
.linha_par td, .linha_par th{
    background-color: #f2f2f2 !important;
}

/*CSS para impressão*/
@media print {
    header {
        display:none;
    }

    .pesquisa {
        display:none;
    }

    td, th {
        padding: 2px !important;
    }

     

}