<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino  Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/index-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index-cadastro.css" />
    <link rel="stylesheet" href="/styles/pages/cadastros.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index.js" defer type="module"></script>
  </head>
  <body id="page-index">

    <%- include('parts/index-header_v2', { 
      button_text:'vazio',
      button_link:'/'
      }) %> 

    <div class="container">
      <main class="animate-up delay-2">
        <h1 class="sr-only">Cadastros</h1>

        <div class="cards card-cadastros">
          <div class="card">
            <div class="id column">1</div>
            <div class="name column">
              <a href="/ciclo-index">Ciclos</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/ciclo">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Ciclo" /> 
                </span>
                Adicionar Ciclo
              </a>
            </div>
          </div>

          <div class="card">
            <div class="id column">2</div>
            <div class="name column">
              <a href="/produto-index">Produtos</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/produto">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Produto" /> 
                </span>
                Adicionar Produto
              </a>
            </div>
          </div>
          <!-- end card -->

          <div class="card">
            <div class="id column">3</div>
            <div class="name column">
              <a href="/categoria-index">Categorias de Produtos</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/categoria">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Categoria de Produto" /> 
                </span>
                Adicionar Categoria de Produto
              </a>
            </div>
          </div>
          <!-- end card -->

          <div class="card">
            <div class="id column">4</div>
            <div class="name column">
              <a href="/usuario-index">Usuários</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/usuario">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Usuário" /> 
                </span>
                Adicionar Usuário
              </a>
            </div>
          </div>
          <!-- end card -->

          <div class="card">
            <div class="id column">5</div>
            <div class="name column">
              <a href="/cesta-index">Cestas</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/cesta">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Tipo de Cesta" /> 
                </span>
                Adicionar Cesta
              </a>
            </div>
          </div>
          <!-- end card -->

          <div class="card">
            <div class="id column">6</div>
            <div class="name column">
              <a href="/pontoentrega-index">Pontos de Entrega</a>
            </div>
            <div class="add column">
              <a class="button orange" href="/pontoentrega">
                <span>
                  <img src="/images/plus-24.svg" alt="Adicionar Ponto de Entrega" /> 
                </span>
                Adicionar Ponto de Entrega
              </a>
            </div>
          </div>
          <!-- end card -->

         

          
        </div>
        <!-- end cards -->
      </main>
    </div>
    <!-- end container -->

    
  </body>
</html>
