<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Divino Alimento - Akarui</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/pontoentrega.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body id="page-pontoentrega">

    <%- include('parts/page-header', { title: "Adicionar Novo Ponto de Entrega", back_link: "/pontoentrega-index"}) %> 

    <div class="container flex animate-up delay-2">
      <main>
        <form id="form-pontoentrega"
          method="POST"
          action="/pontoentrega" >
          <fieldset>
            <legend>Dados do Ponto de Entrega</legend>
            <div class="separator light"></div>

            <div class="input-wrapper">
              <label for="nome">Nome do Ponto de Entrega?</label>
              <input type="text" id="nome" name="nome" />
            </div>
            <br>
            <div class="input-wrapper">
              <label for="endereco">Endereço do Ponto de Entrega?</label>
              <input type="text" id="endereco" name="endereco" />
            </div>
            <br>
            <div class="input-wrapper">
              <label for="status">Situação? </label>
              <br>
              <input 
                type="radio"
                id="ativo" 
                name="status"
                value="ativo"/>
                <label for="ativo">Ativo</label><br>
                <input 
                type="radio"
                id="inativo" 
                name="status"
                value="inativo"/>
                <label for="inativo">Inativo</label><br>
            </div>

          </fieldset>
    
        </form>
      </main>
      <aside class="card">
        <img src="/images/pontoentrega.svg" alt="Imagem de Ponto de Entrega">
        <p>
          
        </p>
        <div class="button-group">
          <button 
            class="button green" 
            form="form-pontoentrega" 
            type="submit" 
            title="Salvar Dados">Salvar</button>
          <a 
            href="/pontoentrega-index" 
            class="button gray">
            <img 
              src="/images/trash-24.svg" 
              alt="Cancelar cadastro" 
              title="Cancelar cadastro">
          </a>
        </div>
      </aside>
      
    </div>
    <!-- end container -->
  </body>
</html>
 