<header>
  <section id="container-header">
    <div id="header-empty">
    </div>
    <div id="header-logo">
      <img src="/images/divinoalimento_topo_logomarca.png" alt="Divino Alimento" />
    </div>
    <div id="avatar-profile" class="dropdown show">
      <% if (usuarioAtivo.email_verified == "false") {%>
        <a class="btn btn-secondary" href="/login" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entrar
        </a>
      <% } else {%>
          <span id="usuario_identificacao">
            <img
              src="<%= usuarioAtivo.picture %>"
            />
          </span>
      <% } %>
    </div>
  </section>
</header>