<header class="page-header">
  <div class="container">
    <section id="top" class="animate-up">
      <h2 class="sr-only">Homepage</h2>
      <a href="/"><img id="logo" src="/images/logo.png" alt="Tela Inicial" /></a>
      <!--<span id="notification">
        <img src="/images/alert-octagon.svg" alt="Alerta" />
        </span>-->
      <!--<a href="/profile" id="avatar-profile">-->
      <span id="avatar-profile">
        <!--<p>Juliana Farinacci <span>Ver perfil</span></p>-->
        <!--<p>Juliana Farinacci </p>
        <img
          src="https://lh3.googleusercontent.com/yZYikwA0CfBYFa2kAj29fkooJUDGTxA9QjovOxoBzHHjhArdCPwKH3fKmb7zWTzbD9lx9g=s85"
        />-->
      <!--</a>-->
      </span>
    </section>


    <!--<a href="/cadastros" id="acessar-cadastros">
      <span>Acessar cadastros</span>
    </a>-->
    <div class="separator"></div>

    <section id="summary" class="animate-up delay-1">
      <h2 class="sr-only">Sumário</h2>

      
      <!--<div class="info">
        <div class="total">
          <strong> </strong>
          Total 
        </div>
        <div class="in-progress">
          <strong></strong>
          Ativos
        </div>
        <div class="finished">
          <strong>statusCount.inativo </strong>
          Inativos
        </div>
      </div>-->

      <% if (button_text !== 'vazio') { %>
        <a class="button orange" href="<%= button_link %> ">
          <span>
            <img src="/images/plus-24.svg" alt="Novo Item" /> 
          </span>
          <%= button_text %>
        </a>
      <% } %>
    </section>
  </div>
</header>